.chatting-footer-wrap{
    /* // sticky로 하니 아이템이 다 안 차있을 경우 상단으로 붙어버림
    // fixed로 하니 해결 */
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 375px;
    height: 9vh;
    background-color: white;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    /* z-index: 1000;  */
    /* // 안해주면 다른 아이템에 덮히는 경우가 발생 */
    border-top: 1.2px solid #d9d9d9;
}
.chatting-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.chatting-footer-icon{
    margin-right: 20px;
}
.chatting-footer-icon > input {
    background-image: url('../assets/icon-camera-mono.svg');
    display: none;
}
.chatting-footer-icon > input::file-selector-button{
    display: none;
}
.chatting-footer-input{
    display: flex;
    position: relative;
}
.chatting-footer-input > input::placeholder{
    color: red;
    font-weight: 700;
    font-size: 13px;
}
.chatting-footer-input > input {
    /* margin-right: 20px; */
    width: 18rem;
    line-height: 27px;
    /* padding: 5px 0; */
    resize: none;
    border: 1px solid #898989;
    /* background-color: #d9d9d9; */
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    padding: 5px;
}
.chatting-footer-input > input:focus{
    outline: none;
}
.chatting-sendbtn{
    background-color: none;
    /* width: 15vw; */
    /* height: 10px; */
    margin-left: -32px;
    /* margin-top: 9px; */
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 100%;
}
.chatting-img-sendbtn{
    position: absolute;
    bottom: 100%;
    left: 82%;
}


/* Chatting Content */
.show-menu{
    background: red;
    width: 100%;
    /* height: 500px; */
    position: relative;
    right: 0px;
    transition: 1s;
    /* animation: fadeInRight 1s; */
    }
    
.hide-menu{
    /* display: none; */
    background: green;
    /* width: 100%; */
    /* height: 500px; */
    position: relative;
    /* right: -376px; */
    transition: 1s;
    }


/* chatting ================ */
.chat-wrap{
    height: 75vh;
    overflow: auto;
}
/* other Chatting */
.item{
    /* background-color: green; */
    display: flex;
    /* align-items: center; */
    /* text-align: right; */
    padding: 10px;
    width: fit-content;
}
.box{
    /* background-color: red; */
    width: 200px;
    word-break:break-all;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.box > p {
    margin: 0;
}
.nickname{
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 4px;
}
.msg{
    background-color: #d9d9d9;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); */
}
.msg::after{
    position: absolute;
    content: "";
    border-top: 16px solid #d9d9d9;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    top: 0px;
    left: -10px;
}
.msg-noti{
    background-color: #f5f3f0;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
    text-align: center;
    width: 70%;
    display: flex;
    margin: 20px auto;
}
.time{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    float: right;
    margin-top: 4px;
}
.profile{
    /* background-color: yellow; */
    margin-right: 22px;
}
.profile > img {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

/* my Chatting */
.myitem{
    /* background-color: green; */
    display: flex;
    /* align-items: center; */
    text-align: right;
    padding: 10px;
    float: right;
    width: fit-content;
}
.mybox{
    /* background-color: red; */
    width: 200px;
    word-break:break-all;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 25px;
}
.mybox > p {
    margin: 0;
}
.mynickname{
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    /* text-align: center; */
}
.mymsg{
    background-color: #FFC632;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
    text-align: initial;
    max-width: fit-content;
    margin-right: 25px;
}
.mymsg::after{
    position: absolute;
    content: "";
    border-top: 16px solid #FFC632;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 0px solid transparent;
    top: 0px;
    right: -10px;
}
.mymsg-file{
    /* background-color: #FFC632; */
    position: relative;
    border-radius: 10px;
    padding: 15px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
    text-align: initial;
    max-width: fit-content;
}
.mymsg-file > img{
    border-radius: 10px;
    max-width:200px;
    max-height:200px;
}
.mymsg-file > video{
    border-radius: 10px;
    max-width:200px;
    max-height:200px;
}
.mytime{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: initial;
    float: left;
    margin-top: 4px;
}

/* toggle */



 
 .chat-header{
    /* background-color: blue; */
    height: 60px;
}

.chat-header-backkey > img{
    margin-top: 18px;
    margin-left: 15px;
    cursor: pointer;
}

input[type="checkbox" i]{
  
}
/* toggle 화면 디자인 */
.toggle-file{
    border-bottom: 1.2px solid #d9d9d9;
}
.toggle-file-title{
    display: flex;
}
.toggle-file-title > li{
    margin-right: 180px;
}
.toggle-member-list{
    margin-top: 20px;
    height: 420px;
    overflow: auto;
}
/* 스크롤 바 숨기기 */
.toggle-member-list{
    -ms-overflow-style:none; /* IE and Edge */
    scrollbar-width:none; /* Firefox */
}

.toggle-member-list::-webkit-scrollbar {
    display:none; /* Chrome , Safari , Opera */
}
/* 스크롤 숨기기 */
.toggle-member{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.toggle-member > p{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
}
.toggle-member > .toggle-member-img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 12px;
}

.toggle-member > .toggle-member-siren{
    width: 22px;
    height: 22px;
    margin-left: 120px;
}
.toggle-footer{
    border-top: 1.2px solid #d9d9d9;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
}
.toggle-footer > .toggle-footer-moon{
    margin-right: 10px;
}
.toggle-footer > .toggle-footer-noti{
    margin-left: 180px;
}

/* Chatting Detail Modal */
.modal-chat-wrapper{
    /* box-sizing: border-box;
    display: block; */
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 1000;
    /* overflow: auto;
    outline: 0; */
    /* ---------- */
    display: flex;
    margin: auto;
    height: auto;
    top: 0;
    width: 100%;
    max-width: 375px;
    height: 93vh;
}
.modal-chat-overlay{
    /* background-color: yellow; */
    width: 375px;
    /* box-sizing: border-box; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 230px; */
    /* bottom: 0; */
    /* right: 0; */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    /* ---------------------------------- */
}
.modal-chat-inner{
    background-color: white;
    /* box-sizing: border-box;
    position: relative; */
    /* box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); */
    /* background-color: #fff; */
    /* border-radius: 10px; */
    width: 320px;
    /* max-width: 178px; */
    /* max-height: 400px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top: 0px; */
    /* left: 28px; */
    margin: 0px 0px 0px 55px;
    /* --------------------- */
    width: 85.3%;
    max-width: 375px;
    height: 100%;
}
.modal-chat-content-wrap{
    /* background-color: green; */
    /* width: 320px; */
    /* height: 100vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    /* ---------- */
    width: 100%;
    max-width: 375px;
    height: 100%;
}
.modal-chat-content-title {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
  }
.modal-chat-content-title > p {
    margin: 0;
}
.modal-divider{
    background-color: #d9d9d9;
    height: 1px;
    width: 90%;
    margin: auto;
}
.modal-member-list{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    margin: 20px;
    /* height: 550px; */
    /* min-height: 40vw; */
    /* max-height: 550px; */
    overflow: auto;
    /* ------------------- */
    height: 80vh;
}
.modal-member-list > p{
    margin: 0;
}
/* 스크롤 바 숨기기 */
.modal-member-list{
    -ms-overflow-style:none; /* IE and Edge */
    scrollbar-width:none; /* Firefox */
}

.modal-member-list::-webkit-scrollbar {
    display:none; /* Chrome , Safari , Opera */
}
/* 스크롤 숨기기 */
.modal-member{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.modal-member-profile-content > p{
    width: 180px;
    
}
.modal-member-img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 15px;
}
.modal-member-profile-content{
    display: flex;
    justify-content: space-between;
}
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    height: 10vh;
}
.modal-footer-exit{
    display: flex;
    margin-left: 20px;
}
.modal-footer-exit > img{
    margin-right: 12px;
}
.modal-footer-exit > p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}
/* 신고하기 */
.modal-chat-content-report{
    width: 100%;
    /* border-top: 1px solid #d9d9d9; */
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 10px 0;
}
.modal-chat-content-divider{
    background-color: #d9d9d9;
    height: 1px;
    width: 100%;
}

/* Report Modal */
.modal-wrapper{
    /* box-sizing: border-box;
    display: block; */
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 1000;
    /* overflow: auto;
    outline: 0; */
    /* ---------- */
    width: 100%;
    max-width: 375px;
    height: 100%;
    /* background-color: green; */

}
.modal-overlay{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    width: 100%;
    max-width: 375px;
    height: 100%;
    margin: auto;
}
.modal-inner{
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
    /* max-width: 178px; */
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top: 275px; */
    margin: auto;
    width: 100%;
    max-width: 335px;
    top: 33%;
}
.modal-content-wrap{
    width: 335px;
    /* height: 128px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
}
.modal-content-title {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #969696;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #D9D9D9; */
  }
.modal-content-title > p {
    margin: 0;
}
.modal-content-report{
    width: 100%;
    /* border-top: 1px solid #d9d9d9; */
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 10px 0;
}
.modal-content-divider{
    background-color: #d9d9d9;
    height: 1px;
    width: 100%;
}
/* Modal Btn */
.modal-wrapper-btn{
    /* box-sizing: border-box; */
    /* display: block; */
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 1000;
    /* overflow: auto;
    outline: 0; */
    /* ------------ */
    /* background-color: green; */
    width: 100%;
    max-width: 375px;
    /* height: 100%; */
    top: 78%;
}
.modal-inner-btn{
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
    /* max-width: 178px; */
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top: 275px; */
    /* margin: auto; */
    width: 100%;
    max-width: 335px;
    top: 20%;
}
.modal-content-wrap-btn{
    width: 335px;
    /* height: 128px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.modal-content-wrap-report{
    padding: 15px;
}
.modal-content-wrap-exit{
    padding: 15px;
    color: red;
}
.modal-content-wrap-reselect{
    padding: 15px;
    color: blue;
}

/* Profile Modal */
.modal-wrapper-profile{
    /* box-sizing: border-box;
    display: block; */
    position: fixed;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 1000;
    /* overflow: auto;
    outline: 0; */
    /* ---------- */
    width: 100%;
    max-width: 375px;
    height: 100%;
    /* background-color: green; */

}
.modal-overlay-profile{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    width: 100%;
    max-width: 375px;
    height: 100%;
    margin: auto;
}
.modal-inner-profile{
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
    /* max-width: 178px; */
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top: 275px; */
    margin: auto;
    width: 100%;
    max-width: 335px;
    top: 33%;
}
.modal-content-wrap-profile{
    width: 335px;
    /* height: 128px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
}
.modal-content-title-profile {
    width: 100%;
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #434343;
 }
.modal-content-title-profile > p {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}
.modal-content-title-profile > img{
    border-radius: 100%;
    width: 115px;
    height: 115px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.modal-content-profile-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-ligtening{
    margin-right: 5px;
}
.modal-content-profile-detail > span {
    margin-right: 10px;
    margin-left: 6px;
}
.modal-content-profile-intro{
    margin-bottom: 60px;
}