.map-wrapper{
    width: 100%;
    max-width: 375px;
    height: 80vh;
}
.map-content-searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    position: relative;
    z-index: 1000;
    width: 90%;
    margin: auto;
    border-radius: 17px;
}
.map-content-searchbar > input{
    width: 90%;
    background: url("../assets/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #898989;
    align-items: center;
    border: none;
    position: absolute;
    background-color: #fff;
    top: 1.5rem;
}
.map-content-button{
    width: 10%;
    position: relative;
    z-index: 1000;
    /* align-items: center; */
    top: 2rem;
}
.map-content-buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3rem;
    left: 20.3rem;
}
.map-content-button-1{
    background-color: white;
    /* margin-bottom: 15px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 15px;
}
.map-content-button-2{
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}
/* Map Detail Modal */
.map-detail-modal-wrapper{
    position: fixed;
    z-index: 1001;
    width: 100%;
    max-width: 375px;
    height: 80vh;
}
.map-detail-modal-overlay{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    width: 100%;
    max-width: 375px;
    height: 80vh;
    margin: auto;
}
.map-detail-modal-inner{
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
    /* max-width: 178px; */
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top: 275px; */
    margin: auto;
    width: 100%;
    max-width: 335px;
    top: 7%;
}
.map-detail-modal-content-wrap{
    width: 335px;
    /* height: 128px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
}
.map-detail-modal-btn{
    position: relative;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}
.map-detail-modal-title-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.map-detail-modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    margin-left: 20px;
}
.map-detail-modal-title-wrap > img{
    margin-right: 20px;
}
.map-detail-modal-catagory{
    width: 100%;
    height: 157px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.map-divider{
    width: 100%;
    height: 8px;
    background-color: #D9D9D9;
}
.map-detail-divider{
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
}
